.gridItems {
    width: 90%;
    margin: 100px auto;
}

.flexContainerOne {
    display: flex;
    margin-top: 50px;
    gap: 20px;

}

.flexContainerTwo {
    display: flex;
    gap: 20px;

}

.flexGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:1090px) {

    .flexContainerOne,
    .flexContainerTwo {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flexGrid {
        width: 100%;
    }


}