.gridItems {
    width: 90%;
    margin: 100px auto;
}

.flexContainerOne {
    display: flex;
    margin-top: 50px;
    gap: 20px;

}

.flexContainerTwo {
    display: flex;
    gap: 20px;

}

.flexGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}