.gridItems {
    width: 90%;
    margin: 100px auto;
}

.flexContainerOne {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.flexContainerTwo {
    display: flex;
    justify-content: space-between;
}

.flexGrid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}