.carousel {
    position: relative;
    height: 85vh;
    overflow: hidden;
}

.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.errowbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000px;
}

.errowbtn:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.left {
    left: 10px;
    background-color: transparent;
    border: none;
}

.right {
    right: 10px;
    background-color: transparent;
    border: none;
}

.lefterrow,
.righterrow {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}

.circle {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 50px;
    height: 10px;
    border-radius: 5px;
}

.active {
    background-color: white;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dots:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.textCarousel {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #00000018;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.heading {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    padding: 30px 10px 0 10px;
}

.subHeading {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px 10px 20px;
}

.shopbtn {
    width: 150px;
    margin-bottom: 30px;
    border: none;
    background-color: white;
    color: #3C4242;
    border-radius: 5px;
    padding: 10px;

}

.shoplinkbtn {
    color: #3C4242;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}