.headerContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: 20px;
    gap: 10px;
}

.purpleLine {
    width: 4px;
    height: 100%;
    background-color: #8A33FD;
    border-radius: 5px;
}

.headerHeading {
    color: #3C4242;
    font-size: 20px;
    height: 100%;
}