.signupHero {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 810px;
}

.signupHeroContainer {
    width: 50%;
    display: flex;
    height: 100%;
}

.imageContainer {
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;

}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 70px 0 70px 0;
    gap: 50px;
}

.title {
    font-size: 25px;
    color: #333333;
    font-weight: 600;
}

.subtitle {
    color: #666666;
    font-size: 12px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 80%;
    height: fit-content
}

.emailContainer,
.passwordContainer,
.nameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emailContainer label,
.passwordContainer label,
.nameContainer label {
    font-size: 12px;
    color: #333333;
}

#email,
#password,
#firstname {
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    border-radius: 5px;
    padding-left: 10px;
}

.eye {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see {
    height: 11px;
    margin-right: 5px;
    min-width: 17px;
    cursor: pointer;
}

.checkbox1,
.checkbox2 {
    display: flex;
    gap: 20px;
}

.checkbox1Text,
.checkbox2Text {
    font-size: 12px;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginText {
    font-size: 12px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#emailError,
#passwordError,
#nameError {
    font-size: 12px;
    color: red;
}

.hideError {
    display: none;
}

.submitbtn {
    height: 30px;
    background-color: #8A33FD;
    border: none;
    border-radius: 5px;
    color: white;
}

.disabled {
    height: 30px;
    background-color: #bfbfbf;
    border: none;
    border-radius: 5px;
    color: rgb(238, 238, 238);
}

.showeye {
    display: flex;
    align-items: center;
}

.showeye p {
    font-size: 11px;
}

.errMessage {
    text-align: center;
    background-color: rgb(242, 183, 183);
    color: rgb(255, 25, 25);
    margin: 0 auto;
    width: fit-content;
    padding: 5px 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

@media (max-width:1266px) {
    .signupHeroContainer {
        width: 90%;
    }
}

@media (max-width:600px) {
    .imageContainer {
        display: none;
    }

    .textContainer {
        width: 100%;
    }
}